@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --grey-color: #b1adad;
    --border-color: #e7e8ea;
}

.container {
    display: flex;
    height: 100vh;
    letter-spacing: 1px;
}



/*----- Left SideBar -----*/

.left_sidebar {
    flex-basis: 20%;
    position: sticky;
    top: 0px;
    align-self: flex-start;
    transition: all .3s ease-in-out;
}

.left_sidebar .close_hamburger_btn {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 34px;
    cursor: pointer;
    color: #000;
    display: none;
}

.left_sidebar .logo h2 {
    padding: 20px 30px;
    font-weight: 600;
    font-size: 32px;
    font-style: italic;
}

.left_sidebar .menu_items .menu_item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    color: var(--grey-color);
    padding: 20px 30px;
    cursor: pointer;
}


/*----- Main Content -----*/

.main_content {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    transition: all .3s ease-in-out;

}

.main_content .main_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.main_content .main_navbar .dark_mode_icon i {
    background: var(--border-color);
    color: #000;
    font-size: 18px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.main_content .main_navbar .dark_mode_icon .bx-sun {
    display: none;
}

.main_content .left_right_sidebar_opener {
    font-size: 45px;
    cursor: pointer;
    margin-top: 20px;
    display: none;
}

.main_content .left_right_sidebar_opener .student {
    display: flex;
    align-items: center;
    gap: 10px;
}
.student {
    position: sticky;
    right: 3%;
    top: 3%;

}

.main_content .left_right_sidebar_opener .student img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
    margin-top: 15px;
}

.main_content .left_right_sidebar_opener .student p {
    font-size: 18px;
}

.search_box {
    background: var(--border-color);
    display: flex;
    gap: 15px;
    padding: 12px;
    margin-top: 20px;
    align-items: center;
    color: #000;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    width: 90%;
}

.search_box input {
    width: 100%;
    border: none;
    background: #e9eaec;
    outline: none;
}

.menu_item_name_and_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0;
}

.menu_item_name_and_filter .menu_item_name h2 {
    font-weight: 600;
    font-size: 24px;
}

.menu_item_name_and_filter .filter_and_sort {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu_item_name_and_filter .filter_and_sort .sort_and_filter {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--border-color);
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-left: 15px;
}

.tabs .tab_name {
    display: flex;
    gap: 50px;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 15px;
    cursor: pointer;
    position: relative;
}

.tabs .tab_name p {
    margin-left: 12px;
}

.tabs .tab_name::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #808080;
}

.main_content .table {
    overflow-x: auto;
}

.main_content table {
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    padding: 25px 20px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}

.table tr:nth-child(even) {
    background: #f1f8f8;
}


.table img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.table .profile_name {
    display: flex;
    align-items: center;
    gap: 7px;
}


/*----- Media Query -----*/

@media (max-width: 500px) {
    /*----- left_sidebar -----*/
    .left_sidebar {
        transform: translateX(-150%);
        overflow: hidden;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 330px;
        height: 100%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .left_sidebar .close_hamburger_btn {
        display: block;
    }
    .left_sidebar .logo h2 {
        margin-top: 100px;
        margin-bottom: 20px;
        color: #000;
    }
    .left_sidebar .menu_items .menu_item {
        font-size: 16px;
    }
    
    /*----- Main Content -----*/
    .main_content {
        flex-basis: 100%;
        width: 100%;
    }
    .main_content .left_right_sidebar_opener {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main_content .left_right_sidebar_opener .hamburger {
        text-align: left;
        display: inline;
    }
    .main_content .left_right_sidebar_opener .user {
        text-align: right;
        display: inline;
    }
    .table td,
    .table th {
        font-size: 15px;
    }
    input::placeholder {
        font-size: 14px;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    /*----- left_sidebar -----*/
    .left_sidebar {
        transform: translateX(-150%);
        overflow: hidden;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 330px;
        height: 100%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .left_sidebar .close_hamburger_btn {
        display: block;
    }
    .left_sidebar .logo h2 {
        margin-top: 100px;
        margin-bottom: 20px;
        color: #000;
    }
    .left_sidebar .menu_items .menu_item {
        font-size: 16px;
    }
    
    /*----- Main Content -----*/
    .main_content {
        flex-basis: 100%;
        width: 100%;
    }
    .main_content .left_right_sidebar_opener {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main_content .left_right_sidebar_opener .hamburger {
        text-align: left;
        display: inline;
    }
    .main_content .left_right_sidebar_opener .user {
        text-align: right;
        display: inline;
    }
    .table td,
    .table th {
        font-size: 15px;
    }
    input::placeholder {
        font-size: 14px;
    }
}

@media(min-width: 769px) and (max-width: 1200px) {
    /*----- left_sidebar -----*/
    .left_sidebar {
        transform: translateX(-150%);
        overflow: hidden;
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 330px;
        height: 100%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
    .left_sidebar .close_hamburger_btn {
        display: block;
    }
    .left_sidebar .logo h2 {
        margin-top: 100px;
        margin-bottom: 20px;
        color: #000;
    }
    .left_sidebar .menu_items .menu_item {
        font-size: 16px;
    }
    
    /*----- Main Content -----*/
    .main_content {
        flex-basis: 100%;
        width: 100%;
    }
    .main_content .left_right_sidebar_opener {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main_content .left_right_sidebar_opener .hamburger {
        text-align: left;
        display: inline;
    }
    .main_content .left_right_sidebar_opener .user {
        text-align: right;
        display: inline;
    }
    .table td,
    .table th {
        font-size: 15px;
    }
    input::placeholder {
        font-size: 14px;
    }
}
