.navigation {
	background-color: white;
	padding: 10px 30px;
	height: 70px;
	border-bottom: 1px solid white;
  
  /*blocks are aligned using flex*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.menuItem {
	margin: 20px 15px;
  /*Montserrat font by googlefonts*/
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 18px;
	text-decoration: none;
}

.menuItem:hover {
	margin-bottom: 17px;
	border-bottom: 3px solid black;
  /*CCS3 element for hover effect*/
	-webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}



.carousel-item img {
    width: 1000px;
    height: 500px;
}

/* 로그인 회원가입 */
.user-links {
    display: flex; /* 추가: 내부 요소를 가로로 정렬 */
    align-items: center; /* 추가: 내부 요소를 수직으로 중앙에 정렬 */
    float: right;
    margin-right: 10px;
}

.small-link {
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
    color: #333; /* 링크 색상 설정 */
}

.small-link:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}
